.full-screen-section {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s;
    background-image: url('https://picsum.photos/1600/600');
    background-size: cover;
    background-position: center;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

#seccion1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10vh;
    text-align: center;
}

.welcome-title {
    font-size: 100px;
    font-weight: bolder;
    color: #fff;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
}

.welcome-description {
    font-size: 1rem;
    color: #dcdcdc;
    margin-bottom: 24px;
    font-family: 'Playfair Display', serif;
}

.welcome-button {
    background-color: #ffd700;
    border: none;
    color: #130D17;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2rem;
    transition: background-color 0.3s;
    /* Transición suave para efecto hover */
}

.welcome-button:hover {
    background-color: #e6c300;
}

.game-section {
    color: #fff;
    background-color: #000;
    padding: 50px 0;
}

.section-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.section-description {
    font-size: 1rem;
    margin-bottom: 30px;
}

.info-card {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 15px;
}

.card-buttons {
    text-align: center;
}

.btnFlecha {
    background: #205081;
    color: #fff;
    border: none;
    padding: 10px 15px;
    margin: 0 10px;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-prev i,
.btn-next i {
    font-size: 1rem;
}

.section-image {
    width: 100%;
    height: auto;
    display: block;
}

.game-section {
    min-height: 100vh;
    /* Asegura que la sección tenga al menos la altura de la ventana del navegador */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.text-section,
.image-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerSeccion {
    max-width: 85% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.image-section .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.section-image {
    display: none;
}

.section-image.active {
    display: block;
}

@media (max-width: 1200px) {
    .text-section,
    .image-section {
        padding: 0 15px;
    }
}