.hero {
    background-color: #101014;
}

.hero-image {
    position: relative;
    overflow: hidden;
    mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    -webkit-mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.hero-image img {
    width: 100%;
    z-index: -1;
}

.hero-image::before {
    content: '';
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
}

.hero-content {
    text-align: center;
    padding: 19%;
}

.hero-title {
    font-size: 100px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.hero-subtitle {
    font-size: 24px;
    color: #fff;
}

.hero-content .btn {
    padding: 15px 40px;
    border-radius: 20px;
    font-size: 24px;
    font-weight: bolder;
    width: auto;
}

.hero-content .btn:hover {
    background-color: #FFC107;
    border-color: #FFC107;
}

#about-game {
    background-color: #101014;
}

#about-game .section-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #fff;
}

#about-game .game-description {
    color: #fff;
    font-family: 'Playfair Display', serif;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}

#about-game .carousel {
    margin-top: 20px;
}



#about-game .carousel-item {
    text-align: center;
}

@media (max-width: 991.98px) {
    #about-game .carousel {
        margin-top: 0;
    }
}

#about-game .game-card {
    width: 75%;
    margin: 0 auto;
    border: 5px solid #fff;
    position: relative;
    overflow: hidden;
}

#about-game .game-img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0;
}

#about-game .card-img-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    /* Animación suave para el texto */
}

#about-game .game-card:hover .card-img-overlay {
    transform: translateY(80%);
}

#about-game .game-feature-title {
    font-weight: bold;
    margin: 0;
}

#about-game .game-feature-desc {
    font-size: 0.9rem;
    margin: 5px 0 0;
}

.contact-section {
    background-image: url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    color: white;
    padding: 50px 0;
}

.contact-section h2 {
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

.social-icons {
    --hexagon-size: 60px;
    --hexagon-color: #8a2be2;
}

.icon-row {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 0px;
}

.icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--hexagon-size);
    height: calc(var(--hexagon-size) * 0.57735 * 2);
    background: rgba(138, 43, 226, 0.5);
    border: 3px solid var(--hexagon-color);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    position: relative;
    z-index: 1;
}

.icon-wrapper i {
    color: white;
    font-size: 24px;
}

.contact-links {
    margin-top: 30px;
}

.contact-links button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
}

.contact-links button:hover {
    background: white;
    color: black;
}

#leaderboards {
    background-color: #111;

}

#leaderboards .section-title {
    text-align: left;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.ranking-list .ranking-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    margin-bottom: 20px;
}

.user-avatar {
    width: 240px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.user-name {
    margin: 0;
    font-size: 22px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.user-stats {
    display: flex;
    font-size: 16px;
    color: #fff;
}

.user-level {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: 'Playfair Display', serif;
    color: #fff;
}

.user-level i,
.user-wave i {
    margin-right: 5px;
}

.user-wave {
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
}

@media (max-width: 768px) {
    .ranking-list {
        justify-content: center;
    }

    .ranking-item {
        width: 100%;
    }
}