.custom-select {
    background-color: #333;
    border-color: #555;
    color: #fff;
}

.list-group-item.bg-secondary {
    background-color: #333 !important;
    border-color: #444;
}

.list-group-item.bg-secondary:hover {
    background-color: #333 !important;
}

.container {
    background-color: #111;
}

body {
    background-color: #111;
}

.list-group-item {
    background-color: #333;
    border-color: #444;
}

.list-group-item .left-side {
    flex-grow: 1;
}

.list-group-item .score {
    flex-shrink: 0;
}

.left-side img {
    margin-right: 15px;
    margin-left: 15px;
}
.rounded-circle {
    width: 25px;
    height: 25px;
}
